<h1>Páginas</h1>

<p>
  <strong>Título:</strong>
  <%= @webpage.title %>
</p>
 
<p>
  <strong>Descrição:</strong>
  <%= @webpage.description %>
</p> 

<p>
  <strong>Body:</strong>
  <%= @webpage.body %>
</p>

<p>
  <strong>Autor:</strong>
  <%= @webpage.author %>
</p>