src/t1/paginasweb/.idea/.generators
src/t1/paginasweb/.idea/.rakeTasks
src/t1/paginasweb/.idea/misc.xml
src/t1/paginasweb/.idea/modules.xml
src/t1/paginasweb/.idea/paginasweb.iml
src/t1/paginasweb/.idea/vcs.xml
src/t1/paginasweb/.idea/workspace.xml
src/t1/paginasweb/.idea/inspectionProfiles/Project_Default.xml
